<div class="container shop">
  <div class="card">
    <div class="contact">
    <div class="row">
      <aside class="col">
        <article class="card-body p-5">
          <h3 class="title mb-3">MetHouse</h3>
          <!-- price-detail-wrap .// -->
          <dl class="item-property">
            <dt>Adress</dt>
            <dd>
              <p>Tadeusa Koscuska 63</p>
            </dd>
          </dl>
          <dl class="param param-feature">
            <dt>Phone number</dt>
            <dd>+381 (11) 203 08 85</dd>
          </dl>
          <!-- item-property-hor .// -->
          <dl class="param param-feature">
            <dt>Email</dt>
            <dd>info@metropolitan.ac.rs</dd>
          </dl>
          <!-- item-property-hor .// -->
          <dl class="param param-feature">
            <dt>Fax</dt>
            <dd>+381 (11) 203 06 28</dd>
          </dl>
        </article>
        <!-- card-body.// -->
      </aside>
      <!-- col.// -->
    </div>
  </div>
    <!-- row.// -->
  </div>
  <!-- card.// -->
</div>